.recorder {
    display: block;
    margin: auto;
    padding: 40px;
    max-width: 600px;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.recorderStatus {
    font-family: 'Merriweather', serif;
    color: #15C3D6;
}

.recorder .material-icons-outlined { 
    font-size: 54px; 
}