.App__nav {
    background-color: #00B5B8;
    padding: 0.3% 0;
    margin-bottom: 0;
}

.App__nav h1 {
    margin-left: 40px;
    padding: 10px;
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
    color: snow;
}

.App__nav a {
    text-decoration: none;
}